<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">

    <div class="six columns alpha">
      <h4>Code</h4>
      <i class="devicon-c-plain"></i>
      <i class="devicon-java-plain-wordmark"></i>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-postgresql-plain-wordmark"></i>
      <i class="devicon-mongodb-plain-wordmark"></i>
      <p>I have created applications using C, Java, Javascript and Python. In addition to that, I am familiar with both
        PostgreSQL and MongoDB databases. </p>
    </div>
    <div class="six columns omega">
      <h4>Tools</h4>
      <i class="devicon-git-plain-wordmark"></i>
      <i class="devicon-pycharm-plain"></i>
      <i class="devicon-salesforce-plain"></i>
      <p>I have experience utilizing git, Pycharm, IntelliJ, Visual Studio Code and Eclipse. I am also comfortable working in Salesforce envrionments.</p>
    </div>
  </div>
</div>